
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    margin-top: 40px;
} 

.border-l {
    border-left: 3px solid black;
} 
.border-t {
    border-top: 3px solid black;
} 
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
} 
.text:hover {
    cursor: pointer;
} 
.game-info {
    /* border: 1px solid black; */
    margin-top: 50px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.current-player, .score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
#winner {
    margin-top: 40px;
    /* border: 1px solid black; */
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
} 
.template-game {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
} 

#player, #next-player, #player1-score, #player2-score{
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 805px) {
    html, body {
        overflow-x: hidden !important;
    }
    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .template-game {
        gap: 12px;
    }
    .game-info, .button, #winner {
        margin-top: 0px;
    }
}