
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    margin-top: 40px;
} 

.border-left {
    border-left: 1px solid black;
} 
.border-top {
    border-top: 1px solid black;
} 
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
} 
.text:hover {
    cursor: pointer;
} 
.game-info {
    border: 1px solid black;
    margin-top: 50px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.current-player, .score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    margin-top: 50px;
}